<!-- Header-->
<!-- <header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">{{message||''}}</h1>
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <p class="lead fw-normal text-white-50 mb-0">We have lots of awesome products</p>
      </div>
  </div>
</header> -->
 <!--User-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div *ngIf="loading">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
      <h1 class=" text-center mb-4">Our Latest Products</h1>

      <div class="justify-content-center search-product mb-3">
        <mat-form-field appearance="outline" class="w-40">
          <input matInput #searchProd [(ngModel)]="searchTerm" (input)="onSearchProduct(searchProd)" placeholder="Search Products by name" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <br/>
      <mat-button-toggle-group
              name="fontStyle" aria-label="Font Style"
              [(ngModel)]="selectedCategory"
              (ngModelChange)="onCategoryChange($event)"
          >
          <mat-button-toggle *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-button-toggle>

        </mat-button-toggle-group>

      </div>
      <div class="pull-right align-items-end" style="float: right;">
        <!-- <span class="material-icons pt-1">sort</span> -->

        <mat-form-field>
          <mat-label>Filter</mat-label>
          <mat-select>
            <mat-option *ngFor="let filter of filters" [value]="filter.name">
              {{filter.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

     </div>
      <div class="p-1">
        <h3 >{{ products?.length }} items Found</h3>
      </div>
      <hr/>
      <div  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let product of products;index as i">
              <div class="card shadow bg-white rounded h-100" (click)="viewProduct(product._id)">
                  <!-- Product image-->
                  <img class="card-img-top" src="http://localhost:5000/images/{{product.image[0].name}}" alt="..." width="300px" height="160px" />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.name.length>20?product.name+'...': product.name}}</h5>
                          <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through"> <span class="material-icons" style="font-size: 16px;vertical-align: middle;">
                            currency_rupee</span> 1000.00</span>
                          <span class="material-icons" style="font-size: 16px;vertical-align: middle;">
                            currency_rupee</span>{{product.price}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer d-flex flex-column p-4 pt-0 border-top-0 bg-transparent">
                      <button mat-raised-button color="primary" class="mb-3" (click)="viewProduct(product._id)">
                        <span class="material-icons">
                          visibility
                        </span>
                        View Product
                      </button>
                      <button mat-raised-button  class="mb-3"
                      (click)="onAddToCart($event,product._id,product.name)">
                        <span class="material-icons">
                          shopping_cart
                          </span>
                        Add to Cart
                      </button>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
