<h2 mat-dialog-title>Edit Product</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
    <div class="row justify-content-center mx-auto">
        <form [formGroup]="editProductFormGroup">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Product Name" formControlName="name"/>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Product Description" formControlName="description"/>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Product Price" formControlName="price"/>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category"  >
              <mat-option *ngFor="let item of categories_list" [value]="item.name" (click)="onClickCategory(item._id)">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>subCategory</mat-label>
              <mat-select formControlName="subcategory">
                <mat-option *ngFor="let food of subCategories_list" [value]="food.sub_category">
                  {{food.sub_category}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Product Image URL" formControlName="image"/>
          </mat-form-field>
        </div>
      </form>
    </div></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="true" (click)="updateProduct(editProductFormGroup.value)" cdkFocusInitial>Update</button>
</mat-dialog-actions>
