<mat-toolbar color="primary">
   <span class="ecom-brand">Ecom-App</span>
   <span class="link-spacer"></span>
   <button mat-button routerLink="/">
    <span class="material-icons">
    home
    </span>
    Home</button>
    <button mat-button routerLink="/about">
      <span class="material-icons">
        group
      </span>
    About</button>
   <span class="example-spacer"></span>
   <form class="d-flex">
    <button *ngIf="loggedIn()" mat-button [matMenuTriggerFor]="menu">
      <span class="material-icons">
        account_circle
        </span>
      Hello {{getUserData().username|uppercase}}
      <span class="material-icons">
        arrow_drop_down
        </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dashboard</button>
        <button mat-menu-item routerLink="/profile">Profile</button>
      </mat-menu>
      </button>

    <button class="btn btn-outline-light" type="submit" *ngIf="user_role === 'user'">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart_item?.length}}</span>
    </button>
</form>
   <button mat-button  *ngIf="!loggedIn()" routerLink="/login">
    <span class="material-icons">
      login
    </span>
    Login
  </button>
   <button mat-button  *ngIf="loggedIn()" (click)="logoutUser()">
    <span class="material-icons">
      logout
    </span>
    Logout
  </button>
 </mat-toolbar>
